* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1c1a1d;
    color: #fff;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 32px;
    margin-left: 32px; 
}

li {
    background-color: rgb(52, 107, 109);
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s, background-color 0.3s;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-top: 32px;
    margin-left: 32px;
    padding: 32px;
    height: 250px;
    width: 400px;
}

.selected {
    background-color: #7eb4b4;
    border-color: #a5e9e9;
}  
.hidden {
    display: none;
}

li:hover {
    border-color: #a5e9e9;
}

li:focus {
  outline: none;
  border-color: #a5e9e9;
}

@media (max-width: 768px) {
  li {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

